@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message:</h3>

<address>
    BluberrySwap<br />
    1032 W Sheridan Rd <br/>
    Chicago, IL 60206<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@blueberryswap.com">support@blueberryswap.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@blueberryswap.com">marketing@blueberryswap.com</a>
</address>