@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">BlueberrySwap is built to serve the local community as a platform to buy, sell, and trade personal goods. It is meant to emulate the wholesome environment of a farmers market with the efficiency and ease of e-commerce. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Category 1</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget eros neque. Maecenas lacinia, ligula finibus porta ultricies, arcu massa vestibulum nulla, eu lobortis est orci at odio.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Category 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget eros neque. Maecenas lacinia, ligula finibus porta ultricies, arcu massa vestibulum nulla, eu lobortis est orci at odio. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Category 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget eros neque. Maecenas lacinia, ligula finibus porta ultricies, arcu massa vestibulum nulla, eu lobortis est orci at odio. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>